# requirements.txt
arraylake>=0.23.1
cartopy
cftime
cf-xarray
coiled
dask[complete]
distributed
flox
fsspec
gcsfs
geopandas
h5netcdf
h5py
icechunk>=1.1.4
ipyleaflet
jq
matplotlib
meteostat
nc-time-axis
netcdf4
numbagg
numcodecs>=0.16.2
numpy
obstore
opencv-python
pandas
pooch
pydap
rasterio
rasterix
requests
rich
s3fs
scipy
seaborn
tqdm
xarray>=2025.7.1
xradar
xvec
zarr>=3.1

# Development dependencies
pre-commit
ruff
nbqa
